.body {
	display: flex;
	flex-direction: row;
}
section {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding: 0.5em;
}
section:first-child {
	width: 40%;
	height: 100%;
	overflow-y: scroll;
	flex-grow: 0;
}
pre {
	overflow-x: auto;
	font-size: 0.75em;
	margin: 0;
}
h3, h4 {
	display: inline;
	margin: 0 0.5em;
}
button {
	vertical-align: top;
}
.middle {
	padding: 1em 0;
}
.suite {
	padding: 0.5em 0;
}
.test pre,
.test .results {
    max-height: 0;
    transition: max-height 0.5s ease-out;
    overflow: hidden;
    border-width: 0;
}
.test.running pre,
.test:hover pre,
.test:hover .results,
.test pre:focus {
	max-height: 100%;
	transition: max-height 0.5s ease-out;
	border-width: 1px;
}
.test {
	margin: 10px;
}
.test .name {
	font-weight: bold;
}
.test .elapsed {
	font-size: 0.75em;
}
.test .results {
	display: inline-block;
	margin-left: 10px;
	font-size: 0.75em;
}
.testframe {
	height: 100%;
}
.running {
	color: orange;
	border: 1px solid orange;
}
.success {
	color: green;
}
.failed {
	color: red;
}
.remove {
	float: right;
}
#export {
	display: none;
	position: fixed;
    z-index: 9999;
    width: 98%;
    height: 98%;
    background: lightGray;
    left: 1%;
}